.tint {
	text-align: center;
	margin-bottom: 5rem !important;

	p {
		margin-bottom: 2rem;
	}

	img {
		width: 100%;
		background-image: url(../../assets/img/dark-car.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}
