@import "../../sassStyles/variables";

.about {
	display: flex;
	flex-direction: column;
	padding: 2rem 0 5rem 0;

	iframe {
		width: 100%;
	}

	p {
		margin-bottom: 2rem;
	}
}

.contacts {
	color: $text-light;
	padding: 1rem;

	p {
		font-weight: 600;

		&:not(:first-of-type) {
			margin-top: 2rem;
		}
	}

	a {
		color: $slangin-yellow;
		cursor: pointer;
		text-decoration: none;
	}
}
